@import "bootstrap-sprockets";
@import "bootstrap";

/* エラーメッセージ */
.notification-alart {
  color: red;
  margin-left: -25px;
  font-weight: bold;
}

/* ログアウト */
.logout_space {
  margin-right: 200px;
}

/* ヘッダー */
header {
  margin-left: 200px;
}

#logo {
  float: left;
  margin-top: -5px;
  font-size: 1.8em;
  color: aquamarine;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  }

#logo:hover {
  color: aquamarine;
  text-decoration: underline black;
}

#error_explanation {
  color: red;
  font-weight: bold;
}

/* ログイン画面 */
.label-login {
  margin-top: 100px;
  margin-left: 80px;
}

.remember-me-space {
  color: blue;
  margin-top: 10px;
}

.login-space {
  color: blue;
  margin-top: 10px;
}

.sign_up-space {
  color: blue;
  margin-top: 10px;
}

.password-space {
  color: blue;
  margin-top: 10px;
}

.forget-password-space {
  color: blue;
  margin-top: 10px;
}

.btn-login {
  width: 40%;
  margin-left: 40px;
  margin-top: 10px;
}

.btn-sign-up {
  width: 40%;
  margin-top: 10px;
  margin-left: 40px;
}

.btn-forget-password {
  margin-left: 40px;
}

.email_space {
  color: blue;
}

/* 新規登録画面 */
.label-signup {
  margin-top: 100px;
  margin-left: 90px;
}

.name-space {
  color: blue;
  margin-top: 10px;
}

.namecall-space {
  color: blue;
  margin-top: 10px;
}

.tel-space {
  color: blue;
  margin-top: 10px;
}

.email-space {
  color: blue;
  margin-top: 10px;
}

.birthday-space {
  color: blue;
  margin-top: 10px;
}

.using_surfboard-space {
  color: blue;
  margin-top: 10px;
}

.signup-space {
  color: blue;
  margin-top: 10px;
}

/* 管理者チェック項目レイアウト */

.admin-check-message {
  color: blue;
  margin-left: 20px;
  font-weight: bold;
}

.admin-check {
  color: blue;
  margin-left: 130px;
}

/* パスワード再発行画面 */
.password-republish-space {
  margin-top: 150px;
  margin-left: 5px;
}

.password-republish-message {
  color: red;
  margin-top: 60px;
  margin-left: -180px;
  font-weight: bold;
}

.email-send-space {
  color: blue;
  margin-top: 10px;
  margin-left: 10px;
}

.email-submit-space {
  margin-top: 80px;
}

/* 管理者専用ページ */

.label-manager {
  margin-top: 150px;
}

.shop-space {
  margin-top: 100px;
}

.reservation-space {
  margin-top: 50px;
}

.student-impression-space {
  margin-top: 50px;
}

/* 管理者専用ページ */

.label-index {
  margin-top: 150px;
  margin-left: 560px;
}

/* 管理者専用ページ */

.label-edit-title {
  margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 560px;
}

.label-user-info {
  color: blue;
  margin-top: 10px;
}

.btn-user-info {
  margin-top: 10px;
  margin-left: 250px;
}

.btn-cancell {
  margin-top: 10px;
}

/* ユーザー設定 */
.label-user-edit {
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.email-field {
  color: blue;
}

.password-field {
  color: blue;
  margin-top: 10px;
}

.password_confirmation-field {
  color: blue;
  margin-top: 10px;
}

.current_password-field {
  color: blue;
  margin-top: 10px;
}

/* スクール生感想内容一覧 */
.month-switching {
  color: blue;
  margin-top: 30px;
  margin-left: 625px;
}

.label-student-impression {
  margin-top: 100px;
  margin-left: 520px;
}

$ng_alert_bg_color: #f2dede;
$ng_alert_border_color: #eed3d7;
$ng_alert_color: #b94a48;
$ok_alert_bg_color: #dff0d8;
$ok_alert_border_color: #d6e9c6;
$ok_alert_color: #468847;
/* flash */
.alert-alert {
  background-color: $ng_alert_bg_color;
  border-color: $ng_alert_border_color;
  color: $ng_alert_color;
  margin-left: -530px;
}
.alert-notice {
  background-color: $ok_alert_bg_color;
  border-color: $ok_alert_border_color;
  color: $ok_alert_color;
  margin-left: -530px;
}

.year-month-day-label {
  color: blue;
  margin-top: 60px;
  margin-left: 385px;
  display: inline-flex;
  transform:translateX(120%);
}

.day-label {
  display: inline-flex;
  padding-left: 450px;
}

.student-search-label {
  color: blue;
  padding-left: 750px;
  margin-top: -60px;
}