<header class="navbar navbar-fixed-top">
  <nav class="container nav-above">
    <nav>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <%= link_to "surfing_skillup_app", user_session_path, id: "logo" %>
        </div>
      </div>
    </nav>
  </nav>
</header>